In [1]:
import pandas as pd
import numpy as np
import plotly as px
import yfinance as yf

from datetime import datetime, date, timedelta

In [3]:
def pull_stock_date(stocks_df, stock_tick, transaction_date):
    data = yf.download(stock_tick, start=transaction_date, end=today)
    data.reset_index(inplace=True)
    data.Date = data.Date.dt.strftime('%Y-%m-%d')
    # data.head()

    stocks_df = stocks_df.merge(data[['Date','Close']],
                                how = 'left',
                                left_on = 'DATE',
                                right_on = 'Date').drop(labels='Date',axis=1)
    stocks_df.rename(columns={"Close":stock_tick},copy=False,inplace=True)
    return stocks_df

In [12]:
today = datetime.today().strftime('%Y-%m-%d')
dates = pd.date_range(start="2021-01-01", end=today, freq='D')
stocks_df = pd.DataFrame({'DATE': dates.strftime('%Y-%m-%d')})
# stocks_df.head()

# Benchmark Index Funds
stocks_df = pull_stock_date(stocks_df, "MDY","2021-01-01")
stocks_df = pull_stock_date(stocks_df, "SPY","2021-01-01")
stocks_df = pull_stock_date(stocks_df, "VOO","2021-01-01")

# 2021 Purchases
stocks_df = pull_stock_date(stocks_df, "CVX","2021-01-14")
stocks_df = pull_stock_date(stocks_df, "BAP","2021-01-14")
stocks_df = pull_stock_date(stocks_df, "SQ","2021-02-05")
stocks_df = pull_stock_date(stocks_df, "BX","2021-06-11")
stocks_df = pull_stock_date(stocks_df, "MTZ","2021-09-29")

#2022 Purchases
stocks_df = pull_stock_date(stocks_df, "ETN","2022-02-16")
stocks_df = pull_stock_date(stocks_df, "META","2022-02-16")
stocks_df = pull_stock_date(stocks_df, "IRM","2022-05-04")
stocks_df = pull_stock_date(stocks_df, "LEN-B","2022-05-04")
stocks_df = pull_stock_date(stocks_df, "CUZ","2022-05-04")
stocks_df = pull_stock_date(stocks_df, "OXY","2022-05-04")
stocks_df = pull_stock_date(stocks_df, "GT","2022-05-06")

stocks_df

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

,DATE,MDY,SPY,VOO,CVX,BAP,SQ,BX,MTZ,ETN,META,IRM,LEN-B,CUZ,OXY,GT
0,2021-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-01-04,413.339996,368.790009,339.029999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-01-05,419.450012,371.329987,341.260010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
655,2022-10-18,426.890015,371.130005,340.970001,162.720001,133.300003,57.270000,90.120003,72.690002,140.639999,132.800003,47.130001,61.660000,23.260000,67.779999,11.51
656,2022-10-19,419.489990,368.500000,338.609985,168.000000,132.080002,53.939999,87.739998,73.110001,139.000000,133.229996,46.240002,58.599998,22.120001,68.459999,11.31
657,2022-10-20,413.070007,365.410004,335.829987,168.960007,132.080002,55.180000,84.040001,74.000000,135.259995,131.529999,46.299999,57.919998,22.340000,68.849998,11.12
658,2022-10-21,421.600006,374.290009,343.899994,173.190002,133.149994,55.990002,85.430000,75.300003,139.330002,130.009995,47.070000,58.910000,22.790001,71.260002,11.51
659,2022-10-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN