In [1]:
import pandas as pd
import numpy as np
import plotly as px
import yfinance as yf

from datetime import datetime, date, timedelta

In [2]:
def pull_stock_date(stocks_df, stock_tick, transaction_date):
    transaction_date = "2021-01-01"
    data = yf.download(stock_tick, start=transaction_date, end=today)
    data.reset_index(inplace=True)
    data.Date = data.Date.dt.strftime('%Y-%m-%d')
    # data.head()

    stocks_df = stocks_df.merge(data[['Date','Close']],
                                how = 'left',
                                left_on = 'DATE',
                                right_on = 'Date').drop(labels='Date',axis=1)
    stocks_df.rename(columns={"Close":stock_tick},copy=False,inplace=True)
    return stocks_df

In [11]:
today = datetime.today().strftime('%Y-%m-%d')
dates = pd.date_range(start="2021-01-01", end=today, freq='D')
stocks_df = pd.DataFrame({'DATE': dates.strftime('%Y-%m-%d')})
# stocks_df.head()

# Benchmark Index Funds
stocks_df = pull_stock_date(stocks_df, "MDY","2021-01-01")
stocks_df = pull_stock_date(stocks_df, "SPY","2021-01-01")
stocks_df = pull_stock_date(stocks_df, "VOO","2021-01-01")

# Prior Purchases
stocks_df = pull_stock_date(stocks_df, "ACN","2021-01-01")
stocks_df = pull_stock_date(stocks_df, "BAH","2021-01-01")
stocks_df = pull_stock_date(stocks_df, "LEN","2021-01-01")
stocks_df = pull_stock_date(stocks_df, "PGNY","2021-01-01")
stocks_df = pull_stock_date(stocks_df, "QRVO","2021-01-01")

# 2021 Purchases
stocks_df = pull_stock_date(stocks_df, "CVX","2021-01-14")
stocks_df = pull_stock_date(stocks_df, "BAP","2021-01-14")
stocks_df = pull_stock_date(stocks_df, "SQ","2021-02-05")
stocks_df = pull_stock_date(stocks_df, "BX","2021-06-11")
stocks_df = pull_stock_date(stocks_df, "MTZ","2021-09-29")

#2022 Purchases
stocks_df = pull_stock_date(stocks_df, "ETN","2022-02-16")
stocks_df = pull_stock_date(stocks_df, "META","2022-02-16")
stocks_df = pull_stock_date(stocks_df, "IRM","2022-05-04")
stocks_df = pull_stock_date(stocks_df, "LEN-B","2022-05-04")
stocks_df = pull_stock_date(stocks_df, "CUZ","2022-05-04")
stocks_df = pull_stock_date(stocks_df, "OXY","2022-05-04")
stocks_df = pull_stock_date(stocks_df, "GT","2022-05-06")

stocks_df

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

,DATE,MDY,SPY,VOO,ACN,BAH,LEN,PGNY,QRVO,CVX,...,SQ,BX,MTZ,ETN,META,IRM,LEN-B,CUZ,OXY,GT
0,2021-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-01-04,413.339996,368.790009,339.029999,256.459991,85.980003,74.269997,42.939999,164.589996,84.709999,...,221.160004,63.000000,67.290001,118.750000,268.940002,28.660000,59.750000,32.619999,17.450001,10.17
4,2021-01-05,419.450012,371.329987,341.260010,257.920013,86.660004,73.709999,42.610001,169.250000,87.000000,...,229.750000,62.810001,69.250000,120.010002,270.970001,28.879999,59.139999,32.619999,19.209999,10.64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
657,2022-10-20,413.070007,365.410004,335.829987,261.779999,99.550003,71.379997,38.290001,82.120003,168.960007,...,55.180000,84.040001,74.000000,135.259995,131.529999,46.299999,57.919998,22.340000,68.849998,11.12
658,2022-10-21,421.600006,374.290009,343.899994,269.570007,101.029999,73.430000,38.580002,85.489998,173.190002,...,55.990002,85.430000,75.300003,139.330002,130.009995,47.070000,58.910000,22.790001,71.260002,11.51
659,2022-10-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
660,2022-10-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
661,2022-10-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
scenario = pd.read_csv('SF.csv')
scenario = scenario.transpose()
new_header = scenario.iloc[0] #grab the first row for the header
scenario = scenario[1:] #take the data less the header row
scenario.columns = new_header #set the header row as the df header
scenario

Field,Date,ACN,BX,BAH,BAP,CUZ,CVX,ETN,META,GT,...,LEN,LEN-B,MTZ,OXY,PGNY,QRVO,SQ,SPY,MDY,VOO
Trade1,2021-01-01,25,0,99,0,0,0,0,0,0,...,80,0,0,0,150,50,0,26,147,27
Trade2,2021-01-14,25,0,99,31,0,53,0,0,0,...,80,0,0,0,150,50,0,26,124,27
Trade3,2021-02-05,25,0,99,31,0,53,0,0,0,...,80,0,0,0,150,50,25,26,110,27
Trade4,2021-06-11,25,70,99,0,0,53,0,0,0,...,80,0,0,0,150,50,25,19,110,27
Trade5,2021-08-06,25,70,99,0,0,53,0,0,0,...,80,0,0,0,150,50,0,19,124,27
Trade6,2021-09-29,25,70,99,0,0,53,0,0,0,...,80,0,90,0,150,50,0,19,108,27
Trade7,2022-02-16,25,70,99,0,0,53,30,30,0,...,80,0,90,0,150,50,0,4,98,27
Trade8,2022-05-04,25,70,99,0,150,30,30,30,0,...,80,80,90,100,150,50,0,4,58,27
Trade9,2022-05-06,25,70,99,0,150,30,30,30,350,...,80,80,90,100,150,50,0,4,58,27
Trade10,2022-07-21,25,70,99,0,150,30,30,30,350,...,80,80,90,100,150,50,0,4,62,27
Trade11,2022-10-10,25,70,99,0,150,30,30,30,350,...,80,80,90,100,150,50,0,4,62,27
Unnamed: 12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
portfolio = scenario.iloc[0,:]

stocks_df = stocks_df.transpose() # .sort_index()

new_header = stocks_df.iloc[0] #grab the first row for the header
stocks_df = stocks_df[1:] #take the data less the header row
stocks_df.columns = new_header #set the header row as the df header

stocks_df = stocks_df.sort_index().infer_objects()

In [7]:
mix = portfolio.iloc[1:].sort_index().astype('int')

In [8]:
values = stocks_df.iloc[:,3]*mix
print(values)
values.sum()

ACN       6411.499786
BAH       8512.020332
BAP          0.000000
BX           0.000000
CUZ          0.000000
CVX          0.000000
ETN          0.000000
GT           0.000000
IRM          0.000000
LEN       5941.599731
LEN-B        0.000000
MDY      60760.979462
META         0.000000
MTZ          0.000000
OXY          0.000000
PGNY      6440.999794
QRVO      8229.499817
SPY       9588.540222
SQ           0.000000
VOO       9153.809967
dtype: float64

115038.94911193848

In [9]:
stocks_df.to_numpy()

array([[nan, nan, nan, ..., nan, nan, nan],
       [nan, nan, nan, ..., nan, nan, nan],
       [nan, nan, nan, ..., nan, nan, nan],
       ...,
       [nan, nan, nan, ..., nan, nan, nan],
       [nan, nan, nan, ..., nan, nan, nan],
       [nan, nan, nan, ..., nan, nan, nan]])

In [10]:
(pd.DataFrame(stocks_df.to_numpy())*((mix.to_numpy()).reshape(20,1)))

,0,1,2,3,4,5,6,7,8,9,...,652,653,654,655,656,657,658,659,660,661
0,NaN,NaN,NaN,6411.499786,6448.000336,6518.499756,6580.000305,6604.000092,NaN,NaN,...,NaN,NaN,6555.500031,6601.249695,6601.499939,6544.499969,6739.250183,NaN,NaN,NaN
1,NaN,NaN,NaN,8512.020332,8579.340363,8780.310242,8994.149849,9068.399849,NaN,NaN,...,NaN,NaN,9546.570030,9987.119728,9763.380272,9855.450302,10001.969879,NaN,NaN,NaN
2,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,...,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN
3,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,...,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN
4,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,...,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN
5,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,...,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN
6,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,...,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN
7,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,...,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN
8,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,...,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN
9,NaN,NaN,NaN,5941.599731,5896.799927,5863.200073,6055.200195,5871.199951,NaN,NaN,...,NaN,NaN,5959.199829,6149.600220,5783.200073,5710.399780,5874.400024,NaN,NaN,NaN
10,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,...,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN
11,NaN,NaN,NaN,60760.979462,61659.151794,64100.819641,64794.659821,64691.758026,NaN,NaN,...,NaN,NaN,61854.659821,62752.832153,61665.028564,60721.291077,61975.200897,NaN,NaN,NaN
12,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,...,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN
13,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,...,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN
14,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,...,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN
15,NaN,NaN,NaN,6440.999794,6391.500092,6510.000229,6788.999748,6643.500137,NaN,NaN,...,NaN,NaN,5812.500000,5908.499908,5700.000000,5743.500137,5787.000275,NaN,NaN,NaN
16,NaN,NaN,NaN,8229.499817,8462.500000,8600.000000,8928.500366,8969.999695,NaN,NaN,...,NaN,NaN,4048.500061,4064.500046,4088.999939,4106.000137,4274.499893,NaN,NaN,NaN
17,NaN,NaN,NaN,9588.540222,9654.579651,9712.299683,9856.600159,9912.760254,NaN,NaN,...,NaN,NaN,9537.320190,9649.380127,9581.000000,9500.660095,9731.540222,NaN,NaN,NaN
18,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,...,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN
19,NaN,NaN,NaN,9153.809967,9214.020264,9269.909637,9408.419769,9461.340363,NaN,NaN,...,NaN,NaN,9099.000000,9206.190033,9142.469604,9067.409637,9285.299835,NaN,NaN,NaN